<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="coffee" class="com.test01.MessageBeanImpl"/>

	<bean id="mangoTomato" class="com.test01.MessageBeanImpl">
		<constructor-arg index="0" value="mangoTomato"></constructor-arg>
		<constructor-arg index="1" value="4000
		"></constructor-arg>
	</bean>
</beans>
